# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow
4. SciPy

| Data Science Tools |
|:--------:|
|  Jupyter Notebooks   |
|  R Studio   |
|  Google Colab  |

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Shahin Mohammad Nejad